.h1title {
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
.radio-names {
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.clikem {
	cursor: initial;
	color:#D13239 !important;
}

.bg-gradient{
	/*background: linear-gradient(25deg, #000, #D13239) !important;*/
	background-image: url("../images/FONDO.jpg");
}

.bg-papaya {
	background: rgba(255, 239, 213, 0.2) !important;
}

.bg-gris {
	background: #D0D3D4 !important;
	color: #000;
}

.txt-melocoton {
	color: #FFDAB9 !important;
}

.txt-blanco {
	color: #ffffff !important;
}

.txt-rosita {
	color: pink !important;
}
.txt-rojo {
	color: #d13239 !important;
}
.txt-azul {
	color: #00BFFF !important;
}
.txt-verde {
	color: #228B22 !important;
}
.text-primary{
	color: #7460ee !important;
}

.placeOk::placeholder {
	color: #f18d9e !important;
}

.padleft{
	padding-left: 10px;
}

.padleftmin {
	padding-left: -20px;
}

.css-bar-cgraf.css-bar-20 {
  background-image: linear-gradient(90deg, #BFC9CA 50%, transparent 50%, transparent), linear-gradient(162deg, #3498DB 50%, #BFC9CA 50%, #BFC9CA);
}
.radio-row{
	padding-left: 16px !important;
}

